<!DOCTYPE html>
<html>
  <%- include("common/head") %>
  <body>
    <div class="container">
        <!-- navbar -->
        <%- include("common/header") %>

        <!-- content -->
        <div class="row row-style">
            <!-- main -->
            <div class="col-xs-9">
                <!-- apply custom style -->
                <div class="page-header" id="page-header-style">
                <%- content %>
                <h1><small>映画一覧</small></h1>
                </div>
                <div class="row">
                  <% for(var i in collection) { %>
                    <%- include("data_item", {val:collection[i]}) %>
                  <% } %>
                </div>
            </div>
            <%- include("common/side") %>
        </div>
    </div>
    <!-- footer -->
    <%- include("common/footer") %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
