<!DOCTYPE html>
<html>
  <%- include("../common/head") %>
  <script type="text/javascript" src="/javascripts/review_submit.js"></script>
  <body>
    <div class="container">
        <!-- navbar -->
        <%- include("../common/header") %>

        <!-- content -->
        <div class="row row-style">
            <!-- main -->
            <div class="col-xs-9">
              <!-- apply custom style -->
              <div class="page-header"id="page-header-style">
              <h1><small>投稿</small></h1>
              </div>

              <form method="post" action="/products/add_review">

                  <!-- name -->
                  <div class="form-group">
                      <label>映画タイトル</label>
                      <p>id1</p>
                      <!-- hidden以外のやり方がありそう -->
                      <input type="hidden" name="id" value="<%= id %>">
                  </div>

                  <div class="form-group">
                      <label>評価</label>
                      <select name="rate" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                      </select>
                  </div>

                  <!-- comment -->
                  <div class="form-group">
                      <label>レビュー投稿</label>
                      <textarea class="form-control add_review" name=review  rows=3 placeholder="100文字までです。"></textarea>
                  </div>

                  <!-- submit -->
                  <button type="submit" class="btn btn-primary center-block review-submit">投稿する</button>

              </form>
            </div>
            <%- include("../common/side") %>
        </div>
    </div>
    <!-- footer -->
    <%- include("../common/footer") %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
