<!DOCTYPE html>
<html>
  <%- include("../common/head") %>
  <body>
    <div class="container">
        <!-- navbar -->
        <%- include("../common/header") %>

        <!-- content -->
        <div class="row row-style">
            <!-- main -->
            <div class="col-xs-9">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                      <th>タイトル</th>
                      <th>レビュー内容</th>
                      <th>レビュー投稿者</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td><%= collection[0].relations.product.attributes.title %></td>
                      <td>
                        <% for(var i in collection) { %>
                          <% var obj = collection[i].attributes; %>
                          <%= obj.review %>
                          <br>
                        <% } %>
                      </td>
                      <td>
                        <%= collection[0].relations.product.attributes.user_id %>
                      </td>
                  </tr>
                  <!-- 繰り返し（省略)-->
                </tbody>
              </table>
            </div>
            <%- include("../common/side") %>
        </div>
    </div>
    <!-- footer -->
    <%- include("../common/footer") %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
